@using OpenTabletDriver.Web.Core.Contracts
@using Octokit

@model IEnumerable<IRelease>
@{
    ViewData["Title"] = "Changelog";
}

<div class="d-flex align-items-start">
    <aside>
        <div class="nav flex-column nav-pills me-3" id="tab" role="tablist" aria-orientation="vertical">
            @{
                int tabIndex = 0;
                foreach (IRelease release in Model)
                {
                    string tag = release.Tag.Replace('.', '-');
                    string tab = $"{tag}-tab";
                    string selected = (tabIndex == 0).ToString().ToLower();
                    <a class="nav-link mb-1 @(tabIndex == 0 ? "active" : string.Empty)" id="@(tab)"
                       data-bs-toggle="pill" data-bs-target="#@(tag)"
                       type="button" role="tab"
                       aria-controls="@(tag)" aria-selected="@(selected)">
                        @release.Name
                    </a>
                    tabIndex++;
                }
            }
        </div>
    </aside>
    <div class="tab-content w-100" id="tabContent">
        @{
            int contentIndex = 0;
            foreach (IRelease release in Model)
            {
                string tag = release.Tag.Replace('.', '-');
                string tab = $"{tag}-tab";
                <div class="tab-pane @(contentIndex == 0 ? "show active" : string.Empty)"
                     id="@(tag)" role="tabpanel"
                     aria-labelledby="@(tab)">
                    <partial name="Release/_Changelog" model="@release"/>
                </div>
                contentIndex++;
            }
        }
    </div>
</div>