@using OpenTabletDriver.Web.Core.Plugins
@using System.Data.Common

@model EnumerableSearchViewModel<PluginMetadata>

@{
    ViewBag.Title = "Plugins";
    var pluginVersions = Model.Items.Select(m => m.SupportedDriverVersion)
        .Distinct()
        .OrderByDescending(v => v.ToString());
}

<div class="container">
    <div class="d-flex mb-3">
        <div class="flex-fill">
            <div class="form-floating me-3">
                <input type="text" class="form-control" id="searchInput" placeholder="Search" onkeyup="filterInput()"
                       value="@Model.Search"/>
                <label for="searchInput">Search</label>
            </div>
        </div>
        <div class="flex-fill">
            <div class="form-floating">
                <select class="form-select" id="pluginVersionSelector" onchange="filterInput()">
                    <option value="">All Versions</option>
                    @foreach (var version in pluginVersions)
                    {
                        <option value="@version">@version</option>
                    }
                </select>
                <label class="form-label" for="pluginVersionSelector">Driver Version</label>
            </div>
        </div>
    </div>

    <div id="metadataList">
        @foreach (var metadata in Model.Items)
        {
            <div class="card mb-2 plugin-metadata-card"
                 data-name="@metadata.Name" data-version="@metadata.SupportedDriverVersion">
                <div class="card-body d-flex flex-sm-row flex-column">
                    <div class="flex-sm-fill p-2">
                        <span class="h4">@metadata.Name</span>
                        <span class="text-sm text-muted"> - @metadata.Owner - @metadata.PluginVersion</span><br/>
                        <div class="mt-2 ms-2">
                            @metadata.Description
                        </div>
                    </div>
                    <div class="mt-auto text-center">
                        @if (!string.IsNullOrWhiteSpace(metadata.DownloadUrl))
                        {
                            <a role="button" class="btn btn-primary me-1 w-10" href="@metadata.DownloadUrl">
                                Download
                            </a>
                        }
                        @if (!string.IsNullOrWhiteSpace(metadata.WikiUrl))
                        {
                            <a role="button" class="btn btn-info me-1" href="@metadata.WikiUrl">
                                Wiki
                            </a>
                        }
                        @if (!string.IsNullOrWhiteSpace(metadata.RepositoryUrl))
                        {
                            <a role="button" class="btn btn-info" href="@metadata.RepositoryUrl">
                                Source
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                filter();
            }
        };

        function filterInput() {
            let searchInput = document.getElementById('searchInput');
            let text = searchInput.value;
            let action = 'Plugins';
            if (text.length > 0) {
                action += '?search=' + encodeURIComponent(text);
            }
            window.history.replaceState('', '', action);
            filter();
        }

        function filter() {
            let selector = document.getElementById('pluginVersionSelector');
            let targetVersion = selector.value;

            let searchInput = document.getElementById('searchInput');
            let searchFilter = searchInput.value.toUpperCase();

            let container = document.getElementById('metadataList');
            let cards = container.getElementsByClassName('plugin-metadata-card');

            for (let i = 0; i < cards.length; i++) {
                let card = cards[i];
                let name = card.getAttribute('data-name').toUpperCase();
                let version = card.getAttribute('data-version');

                let searchMatches = name.indexOf(searchFilter) >= 0;
                let versionMatches = targetVersion == '' || targetVersion == version;

                card.style.display = searchMatches && versionMatches ? '' : 'none';
            }
        }
    </script>
}