@using OpenTabletDriver.Web.Core.Contracts

@model IRelease

@{
    var color = ViewBag.Color ?? "primary";
    var background = $"bg-{color}";
    var border = $"border-{color}";
    var buttonColor = $"btn-{color}";
    var textColor = "text-white";
    var imageSize = "70px";
}

<div class="card shadow rounded-3 @border">
    <div class="card-header @background text-center py-3">
        <h4 class="my-0 fw-normal">@Model.Tag</h4>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img width="250" src="otd.png"/>
        </div>
        <ol style="list-style: none; display: flex; justify-content:space-between"
            class="text-center px-5 pb-3">
            <li>
                <a class="link-light d-flex flex-column" href="Wiki/Install/Windows">
                    <img height="@imageSize" src="/images/platform/Windows_logo_-_2012_derivative.svg">
                    Windows
                </a>
            </li>
            <li>
                <a class="link-light d-flex flex-column" href="Wiki/Install/Linux">
                    <img height="@imageSize" src="/images/platform/TuxFlat.svg">
                    Linux
                </a>
            </li>
            <li>
                <a class="link-light d-flex flex-column" href="Wiki/Install/MacOS">
                    <img height="@imageSize" src="/images/platform/Apple_Computer_Logo_rainbow.svg">
                    macOS
                </a>
            </li>
        </ol>
        <div class="text-center">
            <a role="button" class="btn @buttonColor" href="@Model.Url">View On GitHub</a>
        </div>
    </div>
    <div class="card-footer @background">
        <small class="@textColor">Released @Model.Date.ToLocalTime().ToString("MM/dd/yyyy")</small>

    </div>
</div>